<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
   <appSettings>
    <add key="POCNames" value="CMMS Tech Team"/>
    <add key="POCPhone" value="301-435-7604"/>
    <add key="POCEmail" value="ms2000@mail.nih.gov"/>
    <add key="BaseURL" value="https://cmms.nih.gov"/>
    <add key="WOBaseURL" value="https://orfnet.od.nih.gov/Track"/>
    <add key="WRBaseURL" value="https://orfnet.od.nih.gov/Dispatch"/>
    <add key="ApplicationTitle" value="CMMS Survey"/>
  </appSettings>

  <connectionStrings>
    <add name="msDATAWeb" connectionString="Data Source=.;Initial Catalog=msDATA;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
    <customErrors mode="Off"/>
    <httpRuntime />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
    <controls>
      <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
    </controls></pages>
    
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>

  <location path="Images">
    <system.web>
      
      <authorization>
        <allow users="*,?" />
      </authorization>
    </system.web>
  </location>
   <location path="Content">
    <system.web>
      
      <authorization>
        <allow users="*,?" />
      </authorization>
    </system.web>
  </location>
   <location path="Scripts">
    <system.web>
      
      <authorization>
        <allow users="*,?" />
      </authorization>
    </system.web>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
 
</configuration>